<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>Mercado Liebre</title>
  </head>
  <body>
    <header>
      <!--Logo-->
      <div class="header-search">

         <img
          src="/images/logo-mercado-liebre.svg"
          alt="Mercado logo-mercado-liebre"
          class="logo-mercado-liebre"
        />
        <div class="search-bar">
        <input
          type="text"
          placeholder="Buscar productos, marcas"
        />
        <button class="search-button"><i class="fas fa-search"></i></button>
      </div>
    </div>
        <p class="header-phrase">
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de
          crédito
        </p>
      


      <!--Navbar-->

      <nav>
        <ul class="nav-sells">
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>

        <ul class="nav-account">
          <li>
            <a href="/register">Creá tu cuenta</a
            ><i class="far fa-id-card account-icons"></i>
          </li>
          <li>
            <a href="/login">Ingresá</a
            ><i class="fas fa-sign-in-alt account-icons"></i>
          </li>
          <li>
            <a href="">Mis compras</a
            ><i class="fas fa-shopping-basket account-icons"></i>
          </li>
        </ul>
        <div class="burger-menu">
        <button class="burger-menu"><i class="fas fa-bars"></i></button>
      </div>
 
      </nav>

    </header>
    <img src="/images/img-home-banner.jpg" alt="" class="home-banner">
    <main>
      <!---Section last view--->
      <h2>Ofertas</h2>
      <section id="ultima-vista">
        
        
        <article>
          <img
            src="/images/img-cafetera-moulinex.jpg"
            alt="imagen-cafetera"
            class="product-image"
          />
          <p><i class="fas fa-truck"></i></p>
          <div>

            <p class="price">$6.770</p>
            <p class="discount">40% off</p>
          </div>
          <h3 class="description">Cafetera Moulinex</h3>
        </article>

        <article>
          <img
            src="/images/img-macbook-pro-2019.jpg"
            alt="imagen-macbook"
            class="product-image"
          />
          <p><i class="fas fa-truck"></i></p>
          <div>        
          <p class="price">$230.000</p>
          <p class="discount">20% off</p>
          </div>
          <h3 class="description">MacBook Pro 2019</h3>
        </article>

        <article>
          <img
            src="/images/img-samsung-galaxy-s10.jpg"
            alt="imagen-samsung-galaxy"
            class="product-image"
          />
          <p><i class="fas fa-truck"></i></p>
          <div>
          <p class="price">$70.500</p>
          <p class="discount">10% off</p>
          </div>
          <h3 class="description">Samsung Galaxy S10</h3>
        </article>

        <article>
          <img
            src="images/img-tv-samsung-smart.jpg"
            alt="img.tv.samsung"
            class="product-image"
          />
          <p><i class="fas fa-truck"></i></p>
          <div>
          <p class="price">$23.200</p>
          <p class="discount">5% off</p>
          </div>
          <h3 class="description">SmartTV Samsung 43"</h3>
        </article>
      </section>

      <!---Section offers--->
      <h2>Descuentos</h2>
      <section id="ofertas">
        
        
        <article>
          <img
            src="/images/img-cafetera-moulinex.jpg"
            alt="imagen-cafetera"
            class="product-image"
          />
          <p><i class="fas fa-truck"></i></p>
          <div>

            <p class="price">$6.770</p>
            <p class="discount">40% off</p>
          </div>
          <h3 class="description">Cafetera Moulinex</h3>
        </article>

        <article>
          <img
            src="/images/img-macbook-pro-2019.jpg"
            alt="imagen-macbook"
            class="product-image"
          />
          <p><i class="fas fa-truck"></i></p>
          <div>        
          <p class="price">$230.000</p>
          <p class="discount">20% off</p>
          </div>
          <h3 class="description">MacBook Pro 2019</h3>
        </article>

        <article>
          <img
            src="/images/img-samsung-galaxy-s10.jpg"
            alt="imagen-samsung-galaxy"
            class="product-image"
          />
          <p><i class="fas fa-truck"></i></p>
          <div>
          <p class="price">$70.500</p>
          <p class="discount">10% off</p>
          </div>
          <h3 class="description">Samsung Galaxy S10</h3>
        </article>

        <article>
          <img
            src="images/img-tv-samsung-smart.jpg"
            alt="img.tv.samsung"
            class="product-image"
          />
          <p><i class="fas fa-truck"></i></p>
          <div>
          <p class="price">$23.200</p>
          <p class="discount">5% off</p>
          </div>
          <h3 class="description">SmartTV Samsung 43"</h3>
        </article>
      </section>
    </main>

    <!---Footer--->

    <footer>
      <div class="footer">
        <article class="footer-info">
          <i class="fas fa-credit-card footer-image"></i>
          <h4>
            Pagá con tarjeta o en efectivo</i>
          </h4>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </article>
        <article class="footer-info">
          <i class="fas fa-gift footer-image"></i>
          <h4>Envío gratis desde $ 2.500</i></h4>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </article>
        <article class="footer-info">
          <i class="fas fa-user-shield footer-image"></i>
          <h4>
            Seguridad, de principio a fin
          </h4>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </article>
        <article class="footer-copyright">
          <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </article>
      </div>
    </footer>
  </body>
</html>
